.my-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 1px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.grid-cell:hover {
  background-color: blue;
}

.grid-cell-alive {
  background-color: green;
}